<header>
  <h1><a href="/" style="color:white;text-decoration:none;">0CMS Eleventy</a></h1>
  <nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
  </nav>
</header>
